html, body {
    margin: 0;
    height: 100%;
}

body {  
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    color: pink;
    background-color: #17113a;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}